$primary-color: #3a1717;
$secondary-color: #4d402c;
$tertiary-color: #201b12;
$font-stack: Merriweather, sans-serif;

.btn-link {
  font-size: 100%;
}

.form-text {
  vertical-align: middle;
}

.login-view {
  width: 18rem;
  margin-top: 1rem;
  padding: 1rem;
  box-shadow: 0 2px 10px 0;
}