$primary-color: #3a1717;
$secondary-color: #4d402c;
$tertiary-color: #201b12;
$font-stack: Merriweather, sans-serif;

.regContainer {
  border-radius: 15px;
  color: $tertiary-color;
  margin-top: 20px;
}